// Styling for the masthead
header.masthead {
  position: relative;
  text-align: center;
  color: white;
  background-image: url('../img/bg1.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      font-weight: 300;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }

  img {
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 50%;
    opacity: .9;
  }

  .blur {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.2);
  }
  
  .container { position: relative; }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        font-weight: 300;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 37.5px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
